/* AdminLogin.module.css */

/* Container for the login form */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #6ca7e2; */
  background: url("../../assets/farm-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Styling the form box */
.loginForm {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.loginContainer h1{
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-family:'Times New Roman', Times, serif

  }  /* Input fields */
.inputField {
  width: 100%;
  padding: 0.8rem;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Buttons */
.loginButton {
  width: 80%;
  padding: 0.7rem;
  background-color: #45c2e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top : 10px;
  margin-left: 10%;
}

.forgotPasswordButton {
  width: 80%;
  padding: 0.7rem;
  background-color: #45c2e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10%;
}

.toggleButton {
  width: 100%;
  padding: 0.8rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Texts for error and success messages */
.errorMsg {
  color: red;
  text-align: center;
  font-weight: bold;
}

.successMsg {
  color: green;
  text-align: center;
  font-weight: bold;
}

.timerText {
  font-size: 12px;
  text-align: center;
  color: #333;
  margin-top: 5px;
}

.newUser {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

/* Styling for OTP reset and input fields when showing forgot password */
.otpResetBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.otpResetBox input {
  margin-top: 10px;
}

.otpResetBox button {
  margin-top: 10px;
}

/* Special styling for expired OTP text */
.timerText[style] {
  color: red;
  font-weight: bold;
}